<section>
    <div class="container">
        <form action="/admin/add-product" method="POST" enctype="multipart/form-data">

           
            <input type="text" class="form-control" name="product" placeholder="Nokia, Oppo">

            
            <input type="text" class="form-control" name="category" placeholder="Mobile, Tablet">

 <input type="text" class="form-control" name="description" placeholder="describe">


            <input type="file" name="image" class="form-control" id="exampleFormControlInput1">



            <button type ="submit" name="submit" class="btn btn-success"> Submit </button>

    </form>
    </div>
</section>