<section>
    <div class="container">
        <div class="row"><a class="btn btn-success ml-auto" href="/admin/add-product">Add Product</a></div>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
      {{#each product}}
    <tr>
      <th scope="row">1</th>
      <td>{{product}}</td>
      <td>{{category}}</td>
      <td>{{description}}</td>
      <td><img width="40px" src="/images/{{_id}}.jpg"/></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>
    </div>
</section>