




<section class="container mt-4">
    <div class="row">

        {{#each product}}
        <div class="col-md-3">
            <div class="card p-3 mb-3" style="width: 16.8rem; height:370px">
                <img class="card-img-top" style="max-height: 170px;"
                    src="/images/{{_id}}.jpg""
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.product}}</h5>
                    <span>{{this.category}}</span>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
{{/each}}
    </div>

    

</section>